* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  min-width: 375px;
  font-family: var(--font-family-default), system-ui, sans-serif;
  font-size: 16px;
  line-height: 135%;
  color: var(--font-color-dark);
  background: var(--bg-color-light-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizespeed;
  text-size-adjust: 100%;
}
