@use '../../theme/theme' as theme;

.header {
	@include theme.md {
		border-bottom: 1px var(--border-color-light-blue) solid;
	}

	// .header__container
	&__container {
		display: flex;
		flex-flow: row wrap;
		gap: 20px 30px;
		align-items: center;
		justify-content: space-between;
		padding-top: 25px;
		padding-bottom: 20px;
		background: var(--bg-color-white);

		@include theme.md {
			justify-content: flex-start;
			padding-top: 20px;
		}
	}

	// .header__hamburger
	&__hamburger {
		order: 1;

		@include theme.md {
			display: none;
			order: unset;
		}
	}

	// .header__logo
	&__logo {
		display: none;
		flex-shrink: 0;

		@include theme.md {
			display: block;
		}
	}

	// .header__title
	&__title {
		order: 2;
		margin-left: 0;
		font-family: var(--font-family-semi-bold), system-ui, sans-serif;
		font-size: 20px;
		font-weight: var(--font-weight-semi-bold);
		color: var(--font-color-title);

		@include theme.md {
			flex-grow: 1;
			order: unset;
			margin-left: 25px;
			font-size: 28px;
		}

		@include theme.lg {
			margin-left: 40px;
		}
	}



	// .header__search
	&__search {
		flex-grow: 1;
		order: 4;
		width: 100%;

		@include theme.md {
			flex-grow: 0;
			order: unset;
			width: auto;
		}
	}

	// .header__button
	&__button {
		display: none;

		@include theme.lg {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			cursor: pointer;
			background-color: var(--bg-color-light-gray);
			border: none;
			border-radius: var(--radius-50percent);
		}
	}

	// .header__user
	&__user {
		flex-shrink: 0;
		order: 3;
		width: 35px;
		height: 35px;
		margin-left: 5px;
		overflow: hidden;
		border-radius: var(--radius-50percent);

		@include theme.md {
			order: unset;
			width: 60px;
			height: 60px;
		}
	}
}
