@use '../../theme/theme' as theme;

.main {
	height: 100%;

	// .main__container
	&__container {
		position: relative;
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;

		@include theme.md {
			grid-template-columns: max-content 1fr;
			height: 100%;
			padding-left: 0;
		}
	}

	// .main__nav
	&__nav {
		display: none;

		@include theme.md {
			display: block;
			padding: 30px 0
		}
	}

	// .main__content
	&__content {
		margin: 25px 0;

		@include theme.md {
			margin: 30px 0;
		}
	}
}
