.nav {
	$this: &;

  width: 100%;
  background-color: var(--bg-color-white);

  // .nav__list
  &__list {
		position: sticky;
		top: 30px;
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  // .nav__link
  &__link {
		position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 26px;
		align-items: center;
		padding: 0 44px;
    font-family: var(--font-family-medium), system-ui, sans-serif;
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    color: var(--font-color-gray);
		text-decoration: none;

    // .nav__link--active
    &--active {
			color: var(--font-color-blue);

			// .nav__link--active::before
			&::before {
				position: absolute;
				top: 50%;
				left: 0;
				width: 6px;
				height: 60px;
				content: '';
				background-color: var(--bg-color-blue);
				border-radius: 0 var(--radius-10) var(--radius-10) 0;
				transform: translateY(-50%);
			}
    }
  }

  // .nav__icon
  &__icon {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
  }
}
